<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Backpack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app" id="app">
    <!-- ############ LAYOUT START-->
    
    <%= render 'layouts/aside' %>

    <!-- content -->
    <div id="content" class="app-content box-shadow-z3" role="main">
      <%= render 'layouts/app-header' %>

      <%= render 'layouts/app-footer' %>

      <div class="app-body" id="view">

        <!-- ############ PAGE START-->
        <div class="padding">
          <div class="margin">
            <h5 class="m-b-0 _300">Hi Jone, Welcome back</h5>
            <small class="text-muted">Awesome uikit for your next Material Design project</small>
          </div>

          <div class="row">
            <%= yield %>
          </div>

        </div>
        <!-- ############ PAGE END-->
      </div>
    </div>
    <!-- / end of content -->
    <!-- ############ LAYOUT END-->
  </div>
    
  </body>
</html>
